USE [ITI_Examination_System]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 11/3/2025 11:24:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[attendance_id] [bigint] NOT NULL,
	[student_id] [int] NOT NULL,
	[instructor_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[day_of_week] [varchar](50) NULL,
	[attendance_date] [date] NOT NULL,
	[is_present] [bit] NOT NULL,
	[is_late] [bit] NOT NULL,
 CONSTRAINT [PK__Attendan__20D6A968811A616B] PRIMARY KEY CLUSTERED 
(
	[attendance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 11/3/2025 11:24:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[Branch_ID] [int] IDENTITY(1,1) NOT NULL,
	[Branch_Name] [varchar](50) NULL,
	[Opening_Date] [date] NULL,
	[Location] [varchar](20) NULL,
	[M_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Branch_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[M_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branch_Offered]    Script Date: 11/3/2025 11:24:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch_Offered](
	[Branch_ID] [int] NOT NULL,
	[Intake_ID] [int] NOT NULL,
	[Start_date] [date] NULL,
	[Capacity] [int] NULL,
 CONSTRAINT [pk_branch_offered] PRIMARY KEY CLUSTERED 
(
	[Branch_ID] ASC,
	[Intake_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Choice]    Script Date: 11/3/2025 11:24:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Choice](
	[Choice_ID] [int] IDENTITY(1,1) NOT NULL,
	[Choice_text] [varchar](max) NOT NULL,
	[is_correct] [bit] NULL,
	[Quest_ID] [int] NOT NULL,
 CONSTRAINT [PK__Choice__D6C8DB1AD2B549BA] PRIMARY KEY CLUSTERED 
(
	[Choice_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class_Schedule]    Script Date: 11/3/2025 11:24:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class_Schedule](
	[schedule_id] [int] IDENTITY(1,1) NOT NULL,
	[instructor_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[classroom_id] [int] NOT NULL,
	[day_of_week] [varchar](20) NULL,
	[start_time] [time](7) NULL,
	[end_time] [time](7) NULL,
	[year] [int] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classroom]    Script Date: 11/3/2025 11:24:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classroom](
	[classroom_id] [int] NOT NULL,
	[classroom_name] [nvarchar](100) NOT NULL,
	[capacity] [int] NULL,
	[branch_id] [int] NOT NULL,
	[resources] [nvarchar](500) NULL,
	[is_active] [bit] NOT NULL,
	[created_date] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[classroom_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 11/3/2025 11:24:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Course_ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[hours] [int] NOT NULL,
	[Topic_ID] [int] NOT NULL,
	[Dept_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Course_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course_Track]    Script Date: 11/3/2025 11:24:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course_Track](
	[Course_ID] [int] NOT NULL,
	[Track_ID] [int] NOT NULL,
	[is_required] [bit] NULL,
	[sequence_order] [int] NULL,
 CONSTRAINT [pk_course_track] PRIMARY KEY CLUSTERED 
(
	[Course_ID] ASC,
	[Track_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 11/3/2025 11:24:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Dept_ID] [int] IDENTITY(1,1) NOT NULL,
	[Dept_name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Dept_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Dept_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam]    Script Date: 11/3/2025 11:24:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam](
	[Exam_ID] [int] IDENTITY(1,1) NOT NULL,
	[Time] [time](7) NULL,
	[I_ID] [int] NOT NULL,
	[Course_ID] [int] NOT NULL,
	[Semester] [int] NOT NULL,
	[year] [int] NOT NULL,
	[Total_marks] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Exam_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam_Question]    Script Date: 11/3/2025 11:24:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam_Question](
	[Exam_ID] [int] NOT NULL,
	[Quest_ID] [int] NOT NULL,
	[Question_order] [int] NOT NULL,
	[marks] [decimal](5, 2) NULL,
 CONSTRAINT [pk_exam_question] PRIMARY KEY CLUSTERED 
(
	[Exam_ID] ASC,
	[Quest_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructor]    Script Date: 11/3/2025 11:24:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructor](
	[I_ID] [int] IDENTITY(1,1) NOT NULL,
	[Person_ID] [int] NOT NULL,
	[Salary] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[I_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Person_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Intake]    Script Date: 11/3/2025 11:24:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Intake](
	[Intake_ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](30) NULL,
	[number] [int] NULL,
	[Start_date] [date] NULL,
	[End_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Intake_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 11/3/2025 11:24:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager](
	[M_ID] [int] IDENTITY(1,1) NOT NULL,
	[Person_id] [int] NOT NULL,
	[Salary] [decimal](10, 2) NULL,
	[Manager_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[M_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 11/3/2025 11:24:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[F_name] [varchar](50) NOT NULL,
	[L_name] [varchar](50) NOT NULL,
	[Gender] [char](1) NULL,
	[city] [varchar](50) NULL,
	[B_Date] [date] NULL,
	[Email] [varchar](100) NULL,
	[Person_type] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person_Phone]    Script Date: 11/3/2025 11:24:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person_Phone](
	[Person_ID] [int] NOT NULL,
	[phone] [varchar](20) NOT NULL,
 CONSTRAINT [pk_person_phone] PRIMARY KEY CLUSTERED 
(
	[phone] ASC,
	[Person_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 11/3/2025 11:24:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[Quest_ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[Question_text] [varchar](max) NULL,
	[Difficulty_Level] [varchar](50) NULL,
 CONSTRAINT [PK__Question__6D9E739B30886464] PRIMARY KEY CLUSTERED 
(
	[Quest_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 11/3/2025 11:24:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[S_ID] [int] IDENTITY(1,1) NOT NULL,
	[Person_ID] [int] NOT NULL,
	[Is_graduated] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[S_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Person_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_Answer]    Script Date: 11/3/2025 11:24:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Answer](
	[Student_Answer_ID] [int] IDENTITY(1,1) NOT NULL,
	[Takes_ID] [int] NOT NULL,
	[Quest_ID] [int] NOT NULL,
	[Selected_Choice_ID] [int] NULL,
	[Answer_Text] [varchar](4000) NULL,
	[Submission_Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Student_Answer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAKES]    Script Date: 11/3/2025 11:24:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAKES](
	[Takes_ID] [int] IDENTITY(1,1) NOT NULL,
	[S_ID] [int] NOT NULL,
	[Exam_ID] [int] NOT NULL,
	[Score] [decimal](5, 2) NOT NULL,
	[Date_Taken] [datetime] NULL,
	[Grade] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Takes_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teaching]    Script Date: 11/3/2025 11:24:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teaching](
	[I_ID] [int] NOT NULL,
	[Course_ID] [int] NOT NULL,
	[year] [int] NOT NULL,
	[time_Slot] [varchar](50) NULL,
 CONSTRAINT [pk_teaching] PRIMARY KEY CLUSTERED 
(
	[I_ID] ASC,
	[Course_ID] ASC,
	[year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topic]    Script Date: 11/3/2025 11:24:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[Topic_ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Topic_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Track]    Script Date: 11/3/2025 11:24:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Track](
	[Track_ID] [int] IDENTITY(1,1) NOT NULL,
	[Track_name] [varchar](50) NOT NULL,
	[Description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[Track_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Track_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[When_Enroll]    Script Date: 11/3/2025 11:24:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[When_Enroll](
	[S_ID] [int] NOT NULL,
	[Intake_ID] [int] NOT NULL,
	[Track_ID] [int] NOT NULL,
	[Enrollment_date] [date] NOT NULL,
	[Status] [varchar](20) NULL,
	[grade] [decimal](5, 2) NULL,
 CONSTRAINT [pk_when_enroll] PRIMARY KEY CLUSTERED 
(
	[S_ID] ASC,
	[Intake_ID] ASC,
	[Track_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attendance] ADD  CONSTRAINT [DF__Attendanc__is_la__57DD0BE4]  DEFAULT ((0)) FOR [is_late]
GO
ALTER TABLE [dbo].[Choice] ADD  CONSTRAINT [DF__Choice__is_corre__6E01572D]  DEFAULT ((0)) FOR [is_correct]
GO
ALTER TABLE [dbo].[Class_Schedule] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[Classroom] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Classroom] ADD  DEFAULT (sysutcdatetime()) FOR [created_date]
GO
ALTER TABLE [dbo].[Course_Track] ADD  DEFAULT ((1)) FOR [is_required]
GO
ALTER TABLE [dbo].[Exam] ADD  DEFAULT ((100)) FOR [Total_marks]
GO
ALTER TABLE [dbo].[Exam_Question] ADD  DEFAULT ((1)) FOR [marks]
GO
ALTER TABLE [dbo].[Question] ADD  CONSTRAINT [DF__Question__Diffic__47A6A41B]  DEFAULT ((3)) FOR [Difficulty_Level]
GO
ALTER TABLE [dbo].[Student] ADD  DEFAULT ((0)) FOR [Is_graduated]
GO
ALTER TABLE [dbo].[Student_Answer] ADD  DEFAULT (getdate()) FOR [Submission_Date]
GO
ALTER TABLE [dbo].[TAKES] ADD  DEFAULT (getdate()) FOR [Date_Taken]
GO
ALTER TABLE [dbo].[When_Enroll] ADD  DEFAULT (CONVERT([date],getdate())) FOR [Enrollment_date]
GO
ALTER TABLE [dbo].[When_Enroll] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Attendance]  WITH NOCHECK ADD  CONSTRAINT [FK_Attendance_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([Course_ID])
GO
ALTER TABLE [dbo].[Attendance] NOCHECK CONSTRAINT [FK_Attendance_Course]
GO
ALTER TABLE [dbo].[Attendance]  WITH NOCHECK ADD  CONSTRAINT [FK_Attendance_Instructor] FOREIGN KEY([instructor_id])
REFERENCES [dbo].[Instructor] ([I_ID])
GO
ALTER TABLE [dbo].[Attendance] NOCHECK CONSTRAINT [FK_Attendance_Instructor]
GO
ALTER TABLE [dbo].[Attendance]  WITH NOCHECK ADD  CONSTRAINT [FK_Attendance_Student] FOREIGN KEY([student_id])
REFERENCES [dbo].[Student] ([S_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Attendance] NOCHECK CONSTRAINT [FK_Attendance_Student]
GO
ALTER TABLE [dbo].[Branch]  WITH NOCHECK ADD  CONSTRAINT [fk_branch_manager] FOREIGN KEY([M_ID])
REFERENCES [dbo].[Manager] ([M_ID])
GO
ALTER TABLE [dbo].[Branch] NOCHECK CONSTRAINT [fk_branch_manager]
GO
ALTER TABLE [dbo].[Branch_Offered]  WITH NOCHECK ADD  CONSTRAINT [fk_branch_offered_branch] FOREIGN KEY([Branch_ID])
REFERENCES [dbo].[Branch] ([Branch_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Branch_Offered] NOCHECK CONSTRAINT [fk_branch_offered_branch]
GO
ALTER TABLE [dbo].[Branch_Offered]  WITH NOCHECK ADD  CONSTRAINT [fk_branch_offered_intake] FOREIGN KEY([Intake_ID])
REFERENCES [dbo].[Intake] ([Intake_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Branch_Offered] NOCHECK CONSTRAINT [fk_branch_offered_intake]
GO
ALTER TABLE [dbo].[Choice]  WITH NOCHECK ADD  CONSTRAINT [fk_choice_question] FOREIGN KEY([Quest_ID])
REFERENCES [dbo].[Question] ([Quest_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Choice] NOCHECK CONSTRAINT [fk_choice_question]
GO
ALTER TABLE [dbo].[Class_Schedule]  WITH CHECK ADD FOREIGN KEY([classroom_id])
REFERENCES [dbo].[Classroom] ([classroom_id])
GO
ALTER TABLE [dbo].[Class_Schedule]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([Course_ID])
GO
ALTER TABLE [dbo].[Class_Schedule]  WITH CHECK ADD FOREIGN KEY([instructor_id])
REFERENCES [dbo].[Instructor] ([I_ID])
GO
ALTER TABLE [dbo].[Classroom]  WITH NOCHECK ADD  CONSTRAINT [FK_CLASSROOM_Branch] FOREIGN KEY([branch_id])
REFERENCES [dbo].[Branch] ([Branch_ID])
GO
ALTER TABLE [dbo].[Classroom] NOCHECK CONSTRAINT [FK_CLASSROOM_Branch]
GO
ALTER TABLE [dbo].[Course]  WITH NOCHECK ADD  CONSTRAINT [fk_course_department] FOREIGN KEY([Dept_ID])
REFERENCES [dbo].[Department] ([Dept_ID])
GO
ALTER TABLE [dbo].[Course] NOCHECK CONSTRAINT [fk_course_department]
GO
ALTER TABLE [dbo].[Course]  WITH NOCHECK ADD  CONSTRAINT [fk_course_topic] FOREIGN KEY([Topic_ID])
REFERENCES [dbo].[Topic] ([Topic_ID])
GO
ALTER TABLE [dbo].[Course] NOCHECK CONSTRAINT [fk_course_topic]
GO
ALTER TABLE [dbo].[Course_Track]  WITH NOCHECK ADD  CONSTRAINT [fk_course_track_course] FOREIGN KEY([Course_ID])
REFERENCES [dbo].[Course] ([Course_ID])
GO
ALTER TABLE [dbo].[Course_Track] NOCHECK CONSTRAINT [fk_course_track_course]
GO
ALTER TABLE [dbo].[Course_Track]  WITH NOCHECK ADD  CONSTRAINT [fk_course_track_track] FOREIGN KEY([Track_ID])
REFERENCES [dbo].[Track] ([Track_ID])
GO
ALTER TABLE [dbo].[Course_Track] NOCHECK CONSTRAINT [fk_course_track_track]
GO
ALTER TABLE [dbo].[Exam]  WITH NOCHECK ADD  CONSTRAINT [fk_exam_course] FOREIGN KEY([Course_ID])
REFERENCES [dbo].[Course] ([Course_ID])
GO
ALTER TABLE [dbo].[Exam] NOCHECK CONSTRAINT [fk_exam_course]
GO
ALTER TABLE [dbo].[Exam]  WITH NOCHECK ADD  CONSTRAINT [fk_exam_instructor] FOREIGN KEY([I_ID])
REFERENCES [dbo].[Instructor] ([I_ID])
GO
ALTER TABLE [dbo].[Exam] NOCHECK CONSTRAINT [fk_exam_instructor]
GO
ALTER TABLE [dbo].[Exam_Question]  WITH NOCHECK ADD  CONSTRAINT [fk_exam_question_exam] FOREIGN KEY([Exam_ID])
REFERENCES [dbo].[Exam] ([Exam_ID])
GO
ALTER TABLE [dbo].[Exam_Question] NOCHECK CONSTRAINT [fk_exam_question_exam]
GO
ALTER TABLE [dbo].[Exam_Question]  WITH NOCHECK ADD  CONSTRAINT [fk_exam_question_question] FOREIGN KEY([Quest_ID])
REFERENCES [dbo].[Question] ([Quest_ID])
GO
ALTER TABLE [dbo].[Exam_Question] NOCHECK CONSTRAINT [fk_exam_question_question]
GO
ALTER TABLE [dbo].[Instructor]  WITH NOCHECK ADD  CONSTRAINT [fk_instructor_person] FOREIGN KEY([Person_ID])
REFERENCES [dbo].[Person] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Instructor] NOCHECK CONSTRAINT [fk_instructor_person]
GO
ALTER TABLE [dbo].[Manager]  WITH NOCHECK ADD  CONSTRAINT [fk_manager_person] FOREIGN KEY([Person_id])
REFERENCES [dbo].[Person] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Manager] NOCHECK CONSTRAINT [fk_manager_person]
GO
ALTER TABLE [dbo].[Person_Phone]  WITH NOCHECK ADD  CONSTRAINT [fk_person_phone_person] FOREIGN KEY([Person_ID])
REFERENCES [dbo].[Person] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Person_Phone] NOCHECK CONSTRAINT [fk_person_phone_person]
GO
ALTER TABLE [dbo].[Student]  WITH NOCHECK ADD  CONSTRAINT [fk_student_person] FOREIGN KEY([Person_ID])
REFERENCES [dbo].[Person] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Student] NOCHECK CONSTRAINT [fk_student_person]
GO
ALTER TABLE [dbo].[Student_Answer]  WITH NOCHECK ADD  CONSTRAINT [FK_StudentAnswer_Choice] FOREIGN KEY([Selected_Choice_ID])
REFERENCES [dbo].[Choice] ([Choice_ID])
GO
ALTER TABLE [dbo].[Student_Answer] NOCHECK CONSTRAINT [FK_StudentAnswer_Choice]
GO
ALTER TABLE [dbo].[Student_Answer]  WITH NOCHECK ADD  CONSTRAINT [FK_StudentAnswer_Question] FOREIGN KEY([Quest_ID])
REFERENCES [dbo].[Question] ([Quest_ID])
GO
ALTER TABLE [dbo].[Student_Answer] NOCHECK CONSTRAINT [FK_StudentAnswer_Question]
GO
ALTER TABLE [dbo].[TAKES]  WITH NOCHECK ADD  CONSTRAINT [FK_Takes_Exam] FOREIGN KEY([Exam_ID])
REFERENCES [dbo].[Exam] ([Exam_ID])
GO
ALTER TABLE [dbo].[TAKES] CHECK CONSTRAINT [FK_Takes_Exam]
GO
ALTER TABLE [dbo].[TAKES]  WITH NOCHECK ADD  CONSTRAINT [FK_Takes_Student] FOREIGN KEY([S_ID])
REFERENCES [dbo].[Student] ([S_ID])
GO
ALTER TABLE [dbo].[TAKES] CHECK CONSTRAINT [FK_Takes_Student]
GO
ALTER TABLE [dbo].[Teaching]  WITH NOCHECK ADD  CONSTRAINT [fk_teaching_course] FOREIGN KEY([Course_ID])
REFERENCES [dbo].[Course] ([Course_ID])
GO
ALTER TABLE [dbo].[Teaching] NOCHECK CONSTRAINT [fk_teaching_course]
GO
ALTER TABLE [dbo].[Teaching]  WITH NOCHECK ADD  CONSTRAINT [fk_teaching_instructor] FOREIGN KEY([I_ID])
REFERENCES [dbo].[Instructor] ([I_ID])
GO
ALTER TABLE [dbo].[Teaching] NOCHECK CONSTRAINT [fk_teaching_instructor]
GO
ALTER TABLE [dbo].[When_Enroll]  WITH NOCHECK ADD  CONSTRAINT [fk_when_enroll_intake] FOREIGN KEY([Intake_ID])
REFERENCES [dbo].[Intake] ([Intake_ID])
GO
ALTER TABLE [dbo].[When_Enroll] NOCHECK CONSTRAINT [fk_when_enroll_intake]
GO
ALTER TABLE [dbo].[When_Enroll]  WITH NOCHECK ADD  CONSTRAINT [fk_when_enroll_student] FOREIGN KEY([S_ID])
REFERENCES [dbo].[Student] ([S_ID])
GO
ALTER TABLE [dbo].[When_Enroll] NOCHECK CONSTRAINT [fk_when_enroll_student]
GO
ALTER TABLE [dbo].[When_Enroll]  WITH NOCHECK ADD  CONSTRAINT [fk_when_enroll_track] FOREIGN KEY([Track_ID])
REFERENCES [dbo].[Track] ([Track_ID])
GO
ALTER TABLE [dbo].[When_Enroll] NOCHECK CONSTRAINT [fk_when_enroll_track]
GO
ALTER TABLE [dbo].[Branch_Offered]  WITH NOCHECK ADD  CONSTRAINT [chk_branch_offered_capacity] CHECK  (([Capacity]>(0)))
GO
ALTER TABLE [dbo].[Branch_Offered] NOCHECK CONSTRAINT [chk_branch_offered_capacity]
GO
ALTER TABLE [dbo].[Course]  WITH NOCHECK ADD  CONSTRAINT [chk_course_hours] CHECK  (([hours]>(0)))
GO
ALTER TABLE [dbo].[Course] NOCHECK CONSTRAINT [chk_course_hours]
GO
ALTER TABLE [dbo].[Exam]  WITH NOCHECK ADD  CONSTRAINT [chk_exam_semester] CHECK  (([Semester]>=(1) AND [Semester]<=(2)))
GO
ALTER TABLE [dbo].[Exam] NOCHECK CONSTRAINT [chk_exam_semester]
GO
ALTER TABLE [dbo].[Exam]  WITH NOCHECK ADD  CONSTRAINT [chk_exam_year] CHECK  (([year]>(2020)))
GO
ALTER TABLE [dbo].[Exam] NOCHECK CONSTRAINT [chk_exam_year]
GO
ALTER TABLE [dbo].[Intake]  WITH NOCHECK ADD  CONSTRAINT [chk_intake_dates] CHECK  (([End_date]>[Start_date]))
GO
ALTER TABLE [dbo].[Intake] NOCHECK CONSTRAINT [chk_intake_dates]
GO
ALTER TABLE [dbo].[Person]  WITH NOCHECK ADD  CONSTRAINT [chk_person_type] CHECK  (([Person_type]='Student' OR [Person_type]='Instructor' OR [Person_type]='manager'))
GO
ALTER TABLE [dbo].[Person] NOCHECK CONSTRAINT [chk_person_type]
GO
ALTER TABLE [dbo].[Question]  WITH NOCHECK ADD  CONSTRAINT [chk_question_type] CHECK  (([Type]='Short Answer' OR [Type]='True/False' OR [Type]='Essay' OR [Type]='MCQ'))
GO
ALTER TABLE [dbo].[Question] NOCHECK CONSTRAINT [chk_question_type]
GO
ALTER TABLE [dbo].[Question]  WITH NOCHECK ADD  CONSTRAINT [CK__Question__Diffic__489AC854] CHECK  (([Difficulty_Level]>=(1) AND [Difficulty_Level]<=(5)))
GO
ALTER TABLE [dbo].[Question] NOCHECK CONSTRAINT [CK__Question__Diffic__489AC854]
GO
ALTER TABLE [dbo].[Teaching]  WITH NOCHECK ADD  CONSTRAINT [chk_teaching_year] CHECK  (([year]>=(2020)))
GO
ALTER TABLE [dbo].[Teaching] NOCHECK CONSTRAINT [chk_teaching_year]
GO
ALTER TABLE [dbo].[When_Enroll]  WITH NOCHECK ADD  CONSTRAINT [chk_when_enroll_status] CHECK  (([Status]='Suspended' OR [Status]='Completed' OR [Status]='Withdrawn' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[When_Enroll] NOCHECK CONSTRAINT [chk_when_enroll_status]
GO
