USE [master]
GO
/****** Object:  Database [ITI_Examination_System_DWH]    Script Date: 11/3/2025 11:12:11 PM ******/
CREATE DATABASE [ITI_Examination_System_DWH]

CREATE TABLE [dbo].[Dim_Branch](
	[Branch_Key] [int] IDENTITY(1,1) NOT NULL,
	[Branch_ID] [int] NOT NULL,
	[Branch_Name] [varchar](50) NULL,
	[Location] [varchar](20) NULL,
	[Opening_Date] [date] NULL,
	[Manager_Name] [varchar](101) NULL,
	[Capacity] [int] NULL,
	[Created_Date] [datetime2](7) NULL,
	[Updated_Date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Branch_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Classroom]    Script Date: 11/3/2025 11:12:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Classroom](
	[Classroom_Key] [int] IDENTITY(1,1) NOT NULL,
	[Classroom_ID] [int] NOT NULL,
	[Classroom_Name] [nvarchar](100) NOT NULL,
	[Capacity] [int] NULL,
	[Branch_Name] [varchar](50) NULL,
	[Resources] [nvarchar](500) NULL,
	[Is_Active] [bit] NOT NULL,
	[Created_Date] [datetime2](7) NULL,
	[Updated_Date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Classroom_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Course]    Script Date: 11/3/2025 11:12:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Course](
	[Course_Key] [int] IDENTITY(1,1) NOT NULL,
	[Course_ID] [int] NOT NULL,
	[Course_Name] [varchar](50) NOT NULL,
	[Course_Hours] [int] NOT NULL,
	[Topic_Name] [varchar](50) NOT NULL,
	[Department_Name] [varchar](100) NOT NULL,
	[Difficulty_Level] [varchar](20) NULL,
	[Effective_Date] [date] NOT NULL,
	[Expiry_Date] [date] NULL,
	[Is_Current] [bit] NULL,
	[Created_Date] [datetime2](7) NULL,
	[Updated_Date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Course_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Date]    Script Date: 11/3/2025 11:12:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Date](
	[Date_Key] [int] NOT NULL,
	[Full_Date] [date] NOT NULL,
	[Day] [tinyint] NOT NULL,
	[Day_Name] [varchar](10) NOT NULL,
	[Day_Of_Week] [tinyint] NOT NULL,
	[Day_Of_Year] [smallint] NOT NULL,
	[Week_Of_Year] [tinyint] NOT NULL,
	[Month] [tinyint] NOT NULL,
	[Month_Name] [varchar](10) NOT NULL,
	[Quarter] [tinyint] NOT NULL,
	[Year] [smallint] NOT NULL,
	[Is_Weekend] [bit] NOT NULL,
	[Is_Holiday] [bit] NULL,
	[Academic_Year] [varchar](9) NULL,
	[Semester] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Date_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Exam]    Script Date: 11/3/2025 11:12:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Exam](
	[Exam_Key] [int] IDENTITY(1,1) NOT NULL,
	[Exam_ID] [int] NOT NULL,
	[Exam_Type] [varchar](30) NULL,
	[Semester] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[Total_Marks] [int] NULL,
	[Total_Questions] [int] NULL,
	[Duration_Minutes] [int] NULL,
	[Created_Date] [datetime2](7) NULL,
	[Updated_Date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Exam_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Instructor]    Script Date: 11/3/2025 11:12:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Instructor](
	[Instructor_Key] [int] IDENTITY(1,1) NOT NULL,
	[Instructor_ID] [int] NOT NULL,
	[Full_Name] [varchar](101) NOT NULL,
	[Gender] [char](1) NULL,
	[City] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[Salary] [decimal](10, 2) NULL,
	[Hire_Date] [date] NULL,
	[Years_Of_Experience] [int] NULL,
	[Effective_Date] [date] NOT NULL,
	[Expiry_Date] [date] NULL,
	[Is_Current] [bit] NULL,
	[Created_Date] [datetime2](7) NULL,
	[Updated_Date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Instructor_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Intake]    Script Date: 11/3/2025 11:12:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Intake](
	[Intake_Key] [int] IDENTITY(1,1) NOT NULL,
	[Intake_ID] [int] NOT NULL,
	[Intake_Type] [varchar](30) NULL,
	[Intake_Number] [int] NULL,
	[Start_Date] [date] NULL,
	[End_Date] [date] NULL,
	[Duration_Months] [int] NULL,
	[Total_Students] [int] NULL,
	[Created_Date] [datetime2](7) NULL,
	[Updated_Date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Intake_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Question]    Script Date: 11/3/2025 11:12:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Question](
	[Question_Key] [int] IDENTITY(1,1) NOT NULL,
	[Question_ID] [int] NOT NULL,
	[Question_Type] [varchar](50) NOT NULL,
	[Difficulty_Level] [int] NULL,
	[Topic] [varchar](50) NULL,
	[Created_Date] [datetime2](7) NULL,
	[Updated_Date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Question_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Student]    Script Date: 11/3/2025 11:12:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Student](
	[Student_Key] [int] IDENTITY(1,1) NOT NULL,
	[Student_ID] [int] NOT NULL,
	[Full_Name] [varchar](101) NOT NULL,
	[Gender] [char](1) NULL,
	[City] [varchar](50) NULL,
	[Birth_Date] [date] NULL,
	[Age] [int] NULL,
	[Email] [varchar](100) NULL,
	[Enrollment_Date] [date] NULL,
	[Current_Track] [varchar](50) NULL,
	[Current_Intake] [varchar](100) NULL,
	[Is_Graduated] [bit] NULL,
	[Graduation_Date] [date] NULL,
	[Effective_Date] [date] NOT NULL,
	[Expiry_Date] [date] NULL,
	[Is_Current] [bit] NULL,
	[Created_Date] [datetime2](7) NULL,
	[Updated_Date] [datetime2](7) NULL,
 CONSTRAINT [PK__Dim_Stud__8FEA26A357C6C40C] PRIMARY KEY CLUSTERED 
(
	[Student_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Track]    Script Date: 11/3/2025 11:12:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Track](
	[Track_Key] [int] IDENTITY(1,1) NOT NULL,
	[Track_ID] [int] NOT NULL,
	[Track_Name] [varchar](50) NOT NULL,
	[Description] [text] NULL,
	[Total_Courses] [int] NULL,
	[Required_Courses] [int] NULL,
	[Created_Date] [datetime2](7) NULL,
	[Updated_Date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Track_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Attendance]    Script Date: 11/3/2025 11:12:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Attendance](
	[Attendance_Key] [bigint] IDENTITY(1,1) NOT NULL,
	[Date_Key] [int] NOT NULL,
	[Student_Key] [int] NOT NULL,
	[Instructor_Key] [int] NOT NULL,
	[Course_Key] [int] NOT NULL,
	[Classroom_Key] [int] NOT NULL,
	[Track_Key] [int] NOT NULL,
	[Intake_Key] [int] NOT NULL,
	[Branch_Key] [int] NOT NULL,
	[Attendance_ID] [bigint] NOT NULL,
	[Day_Of_Week] [tinyint] NOT NULL,
	[Is_Present] [bit] NOT NULL,
	[Is_Late] [bit] NOT NULL,
	[Absence_Count] [tinyint] NOT NULL,
	[Late_Count] [tinyint] NOT NULL,
	[On_Time_Count] [tinyint] NOT NULL,
	[ETL_Load_Date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Attendance_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Enrollment]    Script Date: 11/3/2025 11:12:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Enrollment](
	[Enrollment_Key] [bigint] IDENTITY(1,1) NOT NULL,
	[Enrollment_Date_Key] [int] NOT NULL,
	[Student_Key] [int] NOT NULL,
	[Track_Key] [int] NOT NULL,
	[Intake_Key] [int] NOT NULL,
	[Branch_Key] [int] NOT NULL,
	[Status] [varchar](20) NULL,
	[Final_Grade] [decimal](5, 2) NULL,
	[Total_Courses_Enrolled] [int] NULL,
	[Courses_Completed] [int] NULL,
	[Courses_Failed] [int] NULL,
	[Average_Score] [decimal](5, 2) NULL,
	[Attendance_Rate] [decimal](5, 2) NULL,
	[Is_Active] [bit] NULL,
	[Is_Completed] [bit] NULL,
	[Completion_Date_Key] [int] NULL,
	[Duration_Days] [int] NULL,
	[ETL_Load_Date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Enrollment_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Exam_Performance]    Script Date: 11/3/2025 11:12:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Exam_Performance](
	[Exam_Performance_Key] [bigint] IDENTITY(1,1) NOT NULL,
	[Date_Key] [int] NOT NULL,
	[Student_Key] [int] NOT NULL,
	[Instructor_Key] [int] NOT NULL,
	[Course_Key] [int] NOT NULL,
	[Exam_Key] [int] NOT NULL,
	[Track_Key] [int] NOT NULL,
	[Intake_Key] [int] NOT NULL,
	[Branch_Key] [int] NOT NULL,
	[Takes_ID] [int] NOT NULL,
	[Score] [int] NOT NULL,
	[Total_Marks] [int] NOT NULL,
	[Percentage] [decimal](5, 2) NOT NULL,
	[Grade] [varchar](10) NULL,
	[Grade_Point] [decimal](3, 2) NULL,
	[Pass_Fail_Flag] [bit] NOT NULL,
	[Questions_Attempted] [int] NULL,
	[Questions_Correct] [int] NULL,
	[Questions_Incorrect] [int] NULL,
	[Time_Taken_Minutes] [int] NULL,
	[ETL_Load_Date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Exam_Performance_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Student_Answer]    Script Date: 11/3/2025 11:12:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Student_Answer](
	[Student_Answer_Key] [bigint] IDENTITY(1,1) NOT NULL,
	[Date_Key] [int] NOT NULL,
	[Student_Key] [int] NOT NULL,
	[Exam_Key] [int] NOT NULL,
	[Question_Key] [int] NOT NULL,
	[Course_Key] [int] NOT NULL,
	[Student_Answer_ID] [int] NOT NULL,
	[Takes_ID] [int] NOT NULL,
	[Is_Correct] [bit] NULL,
	[Points_Earned] [decimal](5, 2) NULL,
	[Points_Possible] [decimal](5, 2) NULL,
	[Response_Time_Seconds] [int] NULL,
	[ETL_Load_Date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Student_Answer_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Teaching]    Script Date: 11/3/2025 11:12:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Teaching](
	[Teaching_Key] [bigint] IDENTITY(1,1) NOT NULL,
	[Instructor_Key] [int] NOT NULL,
	[Course_Key] [int] NOT NULL,
	[Branch_Key] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[Total_Students_Taught] [int] NULL,
	[Average_Student_Score] [decimal](5, 2) NULL,
	[Pass_Rate] [decimal](5, 2) NULL,
	[Attendance_Rate] [decimal](5, 2) NULL,
	[Total_Classes_Scheduled] [int] NULL,
	[Total_Classes_Conducted] [int] NULL,
	[Student_Satisfaction_Score] [decimal](3, 2) NULL,
	[ETL_Load_Date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Teaching_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Dim_Course_BusinessKey]    Script Date: 11/3/2025 11:12:11 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Dim_Course_BusinessKey] ON [dbo].[Dim_Course]
(
	[Course_ID] ASC,
	[Is_Current] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Dim_Instructor_BusinessKey]    Script Date: 11/3/2025 11:12:11 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Dim_Instructor_BusinessKey] ON [dbo].[Dim_Instructor]
(
	[Instructor_ID] ASC,
	[Is_Current] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Dim_Student_BusinessKey]    Script Date: 11/3/2025 11:12:11 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Dim_Student_BusinessKey] ON [dbo].[Dim_Student]
(
	[Student_ID] ASC,
	[Is_Current] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Fact_Attendance_Course]    Script Date: 11/3/2025 11:12:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Fact_Attendance_Course] ON [dbo].[Fact_Attendance]
(
	[Course_Key] ASC,
	[Date_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Fact_Attendance_Date_Student]    Script Date: 11/3/2025 11:12:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Fact_Attendance_Date_Student] ON [dbo].[Fact_Attendance]
(
	[Date_Key] ASC,
	[Student_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Fact_Exam_Performance_Course]    Script Date: 11/3/2025 11:12:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Fact_Exam_Performance_Course] ON [dbo].[Fact_Exam_Performance]
(
	[Course_Key] ASC,
	[Date_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Fact_Exam_Performance_Date]    Script Date: 11/3/2025 11:12:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Fact_Exam_Performance_Date] ON [dbo].[Fact_Exam_Performance]
(
	[Date_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Fact_Exam_Performance_Student]    Script Date: 11/3/2025 11:12:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Fact_Exam_Performance_Student] ON [dbo].[Fact_Exam_Performance]
(
	[Student_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dim_Branch] ADD  DEFAULT (getdate()) FOR [Created_Date]
GO
ALTER TABLE [dbo].[Dim_Classroom] ADD  DEFAULT (getdate()) FOR [Created_Date]
GO
ALTER TABLE [dbo].[Dim_Course] ADD  DEFAULT ((1)) FOR [Is_Current]
GO
ALTER TABLE [dbo].[Dim_Course] ADD  DEFAULT (getdate()) FOR [Created_Date]
GO
ALTER TABLE [dbo].[Dim_Date] ADD  DEFAULT ((0)) FOR [Is_Holiday]
GO
ALTER TABLE [dbo].[Dim_Exam] ADD  DEFAULT (getdate()) FOR [Created_Date]
GO
ALTER TABLE [dbo].[Dim_Instructor] ADD  DEFAULT ((1)) FOR [Is_Current]
GO
ALTER TABLE [dbo].[Dim_Instructor] ADD  DEFAULT (getdate()) FOR [Created_Date]
GO
ALTER TABLE [dbo].[Dim_Intake] ADD  DEFAULT (getdate()) FOR [Created_Date]
GO
ALTER TABLE [dbo].[Dim_Question] ADD  DEFAULT (getdate()) FOR [Created_Date]
GO
ALTER TABLE [dbo].[Dim_Student] ADD  CONSTRAINT [DF__Dim_Stude__Is_Cu__44FF419A]  DEFAULT ((1)) FOR [Is_Current]
GO
ALTER TABLE [dbo].[Dim_Student] ADD  CONSTRAINT [DF__Dim_Stude__Creat__45F365D3]  DEFAULT (getdate()) FOR [Created_Date]
GO
ALTER TABLE [dbo].[Dim_Track] ADD  DEFAULT (getdate()) FOR [Created_Date]
GO
ALTER TABLE [dbo].[Fact_Attendance] ADD  DEFAULT (getdate()) FOR [ETL_Load_Date]
GO
ALTER TABLE [dbo].[Fact_Enrollment] ADD  DEFAULT (getdate()) FOR [ETL_Load_Date]
GO
ALTER TABLE [dbo].[Fact_Exam_Performance] ADD  DEFAULT (getdate()) FOR [ETL_Load_Date]
GO
ALTER TABLE [dbo].[Fact_Student_Answer] ADD  DEFAULT (getdate()) FOR [ETL_Load_Date]
GO
ALTER TABLE [dbo].[Fact_Teaching] ADD  DEFAULT (getdate()) FOR [ETL_Load_Date]
GO
ALTER TABLE [dbo].[Fact_Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Attendance_Branch] FOREIGN KEY([Branch_Key])
REFERENCES [dbo].[Dim_Branch] ([Branch_Key])
GO
ALTER TABLE [dbo].[Fact_Attendance] CHECK CONSTRAINT [FK_Fact_Attendance_Branch]
GO
ALTER TABLE [dbo].[Fact_Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Attendance_Classroom] FOREIGN KEY([Classroom_Key])
REFERENCES [dbo].[Dim_Classroom] ([Classroom_Key])
GO
ALTER TABLE [dbo].[Fact_Attendance] CHECK CONSTRAINT [FK_Fact_Attendance_Classroom]
GO
ALTER TABLE [dbo].[Fact_Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Attendance_Course] FOREIGN KEY([Course_Key])
REFERENCES [dbo].[Dim_Course] ([Course_Key])
GO
ALTER TABLE [dbo].[Fact_Attendance] CHECK CONSTRAINT [FK_Fact_Attendance_Course]
GO
ALTER TABLE [dbo].[Fact_Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Attendance_Date] FOREIGN KEY([Date_Key])
REFERENCES [dbo].[Dim_Date] ([Date_Key])
GO
ALTER TABLE [dbo].[Fact_Attendance] CHECK CONSTRAINT [FK_Fact_Attendance_Date]
GO
ALTER TABLE [dbo].[Fact_Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Attendance_Instructor] FOREIGN KEY([Instructor_Key])
REFERENCES [dbo].[Dim_Instructor] ([Instructor_Key])
GO
ALTER TABLE [dbo].[Fact_Attendance] CHECK CONSTRAINT [FK_Fact_Attendance_Instructor]
GO
ALTER TABLE [dbo].[Fact_Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Attendance_Intake] FOREIGN KEY([Intake_Key])
REFERENCES [dbo].[Dim_Intake] ([Intake_Key])
GO
ALTER TABLE [dbo].[Fact_Attendance] CHECK CONSTRAINT [FK_Fact_Attendance_Intake]
GO
ALTER TABLE [dbo].[Fact_Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Attendance_Student] FOREIGN KEY([Student_Key])
REFERENCES [dbo].[Dim_Student] ([Student_Key])
GO
ALTER TABLE [dbo].[Fact_Attendance] CHECK CONSTRAINT [FK_Fact_Attendance_Student]
GO
ALTER TABLE [dbo].[Fact_Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Attendance_Track] FOREIGN KEY([Track_Key])
REFERENCES [dbo].[Dim_Track] ([Track_Key])
GO
ALTER TABLE [dbo].[Fact_Attendance] CHECK CONSTRAINT [FK_Fact_Attendance_Track]
GO
ALTER TABLE [dbo].[Fact_Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Enrollment_Branch] FOREIGN KEY([Branch_Key])
REFERENCES [dbo].[Dim_Branch] ([Branch_Key])
GO
ALTER TABLE [dbo].[Fact_Enrollment] CHECK CONSTRAINT [FK_Fact_Enrollment_Branch]
GO
ALTER TABLE [dbo].[Fact_Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Enrollment_EnrollmentDate] FOREIGN KEY([Enrollment_Date_Key])
REFERENCES [dbo].[Dim_Date] ([Date_Key])
GO
ALTER TABLE [dbo].[Fact_Enrollment] CHECK CONSTRAINT [FK_Fact_Enrollment_EnrollmentDate]
GO
ALTER TABLE [dbo].[Fact_Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Enrollment_Intake] FOREIGN KEY([Intake_Key])
REFERENCES [dbo].[Dim_Intake] ([Intake_Key])
GO
ALTER TABLE [dbo].[Fact_Enrollment] CHECK CONSTRAINT [FK_Fact_Enrollment_Intake]
GO
ALTER TABLE [dbo].[Fact_Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Enrollment_Student] FOREIGN KEY([Student_Key])
REFERENCES [dbo].[Dim_Student] ([Student_Key])
GO
ALTER TABLE [dbo].[Fact_Enrollment] CHECK CONSTRAINT [FK_Fact_Enrollment_Student]
GO
ALTER TABLE [dbo].[Fact_Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Enrollment_Track] FOREIGN KEY([Track_Key])
REFERENCES [dbo].[Dim_Track] ([Track_Key])
GO
ALTER TABLE [dbo].[Fact_Enrollment] CHECK CONSTRAINT [FK_Fact_Enrollment_Track]
GO
ALTER TABLE [dbo].[Fact_Exam_Performance]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Exam_Performance_Branch] FOREIGN KEY([Branch_Key])
REFERENCES [dbo].[Dim_Branch] ([Branch_Key])
GO
ALTER TABLE [dbo].[Fact_Exam_Performance] CHECK CONSTRAINT [FK_Fact_Exam_Performance_Branch]
GO
ALTER TABLE [dbo].[Fact_Exam_Performance]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Exam_Performance_Course] FOREIGN KEY([Course_Key])
REFERENCES [dbo].[Dim_Course] ([Course_Key])
GO
ALTER TABLE [dbo].[Fact_Exam_Performance] CHECK CONSTRAINT [FK_Fact_Exam_Performance_Course]
GO
ALTER TABLE [dbo].[Fact_Exam_Performance]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Exam_Performance_Date] FOREIGN KEY([Date_Key])
REFERENCES [dbo].[Dim_Date] ([Date_Key])
GO
ALTER TABLE [dbo].[Fact_Exam_Performance] CHECK CONSTRAINT [FK_Fact_Exam_Performance_Date]
GO
ALTER TABLE [dbo].[Fact_Exam_Performance]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Exam_Performance_Exam] FOREIGN KEY([Exam_Key])
REFERENCES [dbo].[Dim_Exam] ([Exam_Key])
GO
ALTER TABLE [dbo].[Fact_Exam_Performance] CHECK CONSTRAINT [FK_Fact_Exam_Performance_Exam]
GO
ALTER TABLE [dbo].[Fact_Exam_Performance]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Exam_Performance_Instructor] FOREIGN KEY([Instructor_Key])
REFERENCES [dbo].[Dim_Instructor] ([Instructor_Key])
GO
ALTER TABLE [dbo].[Fact_Exam_Performance] CHECK CONSTRAINT [FK_Fact_Exam_Performance_Instructor]
GO
ALTER TABLE [dbo].[Fact_Exam_Performance]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Exam_Performance_Intake] FOREIGN KEY([Intake_Key])
REFERENCES [dbo].[Dim_Intake] ([Intake_Key])
GO
ALTER TABLE [dbo].[Fact_Exam_Performance] CHECK CONSTRAINT [FK_Fact_Exam_Performance_Intake]
GO
ALTER TABLE [dbo].[Fact_Exam_Performance]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Exam_Performance_Student] FOREIGN KEY([Student_Key])
REFERENCES [dbo].[Dim_Student] ([Student_Key])
GO
ALTER TABLE [dbo].[Fact_Exam_Performance] CHECK CONSTRAINT [FK_Fact_Exam_Performance_Student]
GO
ALTER TABLE [dbo].[Fact_Exam_Performance]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Exam_Performance_Track] FOREIGN KEY([Track_Key])
REFERENCES [dbo].[Dim_Track] ([Track_Key])
GO
ALTER TABLE [dbo].[Fact_Exam_Performance] CHECK CONSTRAINT [FK_Fact_Exam_Performance_Track]
GO
ALTER TABLE [dbo].[Fact_Student_Answer]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Student_Answer_Course] FOREIGN KEY([Course_Key])
REFERENCES [dbo].[Dim_Course] ([Course_Key])
GO
ALTER TABLE [dbo].[Fact_Student_Answer] CHECK CONSTRAINT [FK_Fact_Student_Answer_Course]
GO
ALTER TABLE [dbo].[Fact_Student_Answer]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Student_Answer_Date] FOREIGN KEY([Date_Key])
REFERENCES [dbo].[Dim_Date] ([Date_Key])
GO
ALTER TABLE [dbo].[Fact_Student_Answer] CHECK CONSTRAINT [FK_Fact_Student_Answer_Date]
GO
ALTER TABLE [dbo].[Fact_Student_Answer]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Student_Answer_Exam] FOREIGN KEY([Exam_Key])
REFERENCES [dbo].[Dim_Exam] ([Exam_Key])
GO
ALTER TABLE [dbo].[Fact_Student_Answer] CHECK CONSTRAINT [FK_Fact_Student_Answer_Exam]
GO
ALTER TABLE [dbo].[Fact_Student_Answer]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Student_Answer_Question] FOREIGN KEY([Question_Key])
REFERENCES [dbo].[Dim_Question] ([Question_Key])
GO
ALTER TABLE [dbo].[Fact_Student_Answer] CHECK CONSTRAINT [FK_Fact_Student_Answer_Question]
GO
ALTER TABLE [dbo].[Fact_Student_Answer]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Student_Answer_Student] FOREIGN KEY([Student_Key])
REFERENCES [dbo].[Dim_Student] ([Student_Key])
GO
ALTER TABLE [dbo].[Fact_Student_Answer] CHECK CONSTRAINT [FK_Fact_Student_Answer_Student]
GO
ALTER TABLE [dbo].[Fact_Teaching]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Teaching_Branch] FOREIGN KEY([Branch_Key])
REFERENCES [dbo].[Dim_Branch] ([Branch_Key])
GO
ALTER TABLE [dbo].[Fact_Teaching] CHECK CONSTRAINT [FK_Fact_Teaching_Branch]
GO
ALTER TABLE [dbo].[Fact_Teaching]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Teaching_Course] FOREIGN KEY([Course_Key])
REFERENCES [dbo].[Dim_Course] ([Course_Key])
GO
ALTER TABLE [dbo].[Fact_Teaching] CHECK CONSTRAINT [FK_Fact_Teaching_Course]
GO
ALTER TABLE [dbo].[Fact_Teaching]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Teaching_Instructor] FOREIGN KEY([Instructor_Key])
REFERENCES [dbo].[Dim_Instructor] ([Instructor_Key])
GO
ALTER TABLE [dbo].[Fact_Teaching] CHECK CONSTRAINT [FK_Fact_Teaching_Instructor]
GO
USE [master]
GO
